.carousel {
  position: relative;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  max-width: 445px;
  border-radius: 15px;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
  cursor: pointer;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden; //places slides on top of eachother
  border-radius: 0px;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 5;
  border: none;
  cursor: pointer;
}

.carousel__button--left {
  left: 1rem;
}

.carousel__button--right {
  right: 1rem;
}

.carousel__nav {
  display: none;
}

.carousel__indicator {
  width: 5.5rem;
  height: 88px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.carousel__indicator:hover {
  box-shadow: inset 0 0 100px 0px $lightbox-background;
  transition: 0.25s ease-in-out;
}

.carousel__indicator:first-of-type {
  background-image: url("../images/image-product-1-thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator:nth-of-type(2) {
  background-image: url("../images/image-product-2-thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator:nth-of-type(3) {
  background-image: url("../images/image-product-3-thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator:last-of-type {
  background-image: url("../images/image-product-4-thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator.current-slide {
  border: 2px solid $Orange;
  box-shadow: inset 0 0 150px 0px $lightbox-background;
}

.is-hidden {
  display: none;
}
