@import "resets", "variables", "carousel", "cart", "modal";

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1.25rem auto;
}

.logo {
  transform: translateY(-3%);
}

.hamburger {
  cursor: pointer;
}

.desktop__nav {
  display: none;
}

.avatar {
  img {
    border-radius: 50%;
    width: 24px;
    cursor: pointer;
  }

  img:hover {
    border: 1.5px solid $Orange;
    transition: 0.2s ease-in-out;
  }
}

.menu__mobile-container,
.account__container {
  display: flex;
  align-items: center;
}

.menu__mobile-container {
  gap: 1rem;
}

.account__container {
  gap: 1.38625rem;
}

.mobile__nav {
  display: none;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background: $White;
  width: 67%;
  height: 100%;
  padding-top: 1.5rem;
  padding-left: 1.5625rem;
  border: none;
  max-height: 100vh;

  li {
    list-style: none;
    margin-bottom: 1.25rem;

    a {
      font-weight: 700;
      color: $Very-dark-blue;
      text-decoration: none;
      border: none;
      outline: none;
    }
  }
}
.mobile__nav--close-btn {
  margin-bottom: 3.36125rem;
  cursor: pointer;
}

main {
  position: relative;
}

.main__container {
  margin: 0 auto;
  width: 90%;
}

h1 {
  color: $Orange;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1.85px;
  margin-top: 1.5rem;
  margin-bottom: 1.1875rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0.9375rem;
  font-weight: 700;
}

.main__paragraph {
  font-size: 0.9375rem;
  color: $Dark-grayish-blue;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.price__container {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  align-items: center;
  margin-bottom: 1.5rem;
}

.current__pricing {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price {
  font-size: 1.75rem;
}

.discount {
  color: $Orange;
  background: $Pale-orange;
  padding: 0.4375rem 0.5rem 0.25rem;
  border-radius: 6px;
  width: 51px;
}

.original__price {
  color: $Grayish-blue;
  text-decoration: line-through;
}

.addtocart__toggle {
  width: 100%;
  margin-bottom: 1rem;
  background: $lightbox-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.375rem 1.5rem;
  font-weight: 700;
  border-radius: 10px;
}

.addtocart__btn {
  width: 100%;
  background-color: $Orange;
  color: $White;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.375rem 0;
  border: none;
  outline: none;
  border-radius: 10px;
  gap: 0.97125rem;
  margin-bottom: 5.5rem;
  box-shadow: 0 13px 20px -10px $Orange;
  cursor: pointer;
}

.addtocart__btn:hover {
  background-color: $hover-state;
  transition: 0.25s;
}

.addtocart__btn svg > path {
  fill: $White;
}

.minus,
.plus {
  cursor: pointer;
}

.minus:hover defs > path,
.plus:hover path {
  fill: $hover-state;
}

.bg-modal,
.bg-modal-nav {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.8;
  background-color: $Very-dark-blue;
  top: 0;
  z-index: 5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// media query

@media (min-width: 767px) {
  .carousel {
    height: 445px;
    border-radius: 15px;
  }
  .carousel__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .carousel__track-container {
    border-radius: 15px;
  }
}

@media (min-width: 768px) {
  header {
    border-bottom: 1px solid $header-underline;
    height: 4rem;
    margin: 2.5625rem auto 5.625rem;
    align-items: flex-start;
  }

  .menu__mobile-container {
    height: 100%;
    align-items: flex-start;
  }

  .logo {
    margin-right: 3.53125rem;
  }
  .desktop__nav {
    display: block;
    height: 100%;

    nav {
      height: 100%;
    }

    ul {
      display: flex;
      height: 100%;
      gap: 2rem;

      li {
        list-style: none;
        height: 100%;
        cursor: pointer;

        a {
          text-decoration: none;
          font-size: 0.9375rem;
          color: $Dark-grayish-blue;
        }
      }
      li:hover {
        border-bottom: 2px solid $Orange;
        transition: 0.2s ease-in;
      }

      li:hover > a {
        color: $Very-dark-blue;
        transition: 0.2s ease-in;
      }
    }
  }

  .hamburger {
    display: none;
  }

  .cart__window {
    left: unset;
    top: -7rem;
    right: 3rem;
    margin-left: unset;
    margin-right: unset;
    box-shadow: 3px -2px 60px -20px $Grayish-blue;
  }

  .carousel {
    margin-bottom: 10rem;
  }

  .carousel__button {
    display: none;
  }
}

@media (min-width: 1200px) {
  header {
    width: 77.5%;
  }
  .cart__window {
    left: unset;
    top: -7rem;
    right: -8rem;
    margin-left: unset;
    margin-right: unset;
    box-shadow: 0 14px 17px -5px $Grayish-blue;
  }
  main {
    display: flex;
    max-width: 1015px;
    margin: auto;
    gap: 7.8125rem;
  }

  .main__container {
    margin-top: 2rem;
  }

  h1 {
    font-size: 0.8125rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  .price__container {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .current__pricing {
    margin-bottom: 0.625rem;
  }

  .addtocart {
    display: flex;
    gap: 1rem;
  }

  .addtocart__toggle {
    width: 157px;
    height: 56px;
  }
  .addtocart__btn {
    width: 272px;
    height: 56px;
    box-shadow: none;
  }
}

@media (min-width: 1201px) and (max-width: 1300px) {
  .cart__window {
    right: -4rem;
  }
}

@keyframes appear {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes disappear {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}
