@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Kumbh Sans", sans-serif;
}

.carousel {
  position: relative;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  max-width: 445px;
  border-radius: 15px;
}

.carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px;
  cursor: pointer;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0px;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 5;
  border: none;
  cursor: pointer;
}

.carousel__button--left {
  left: 1rem;
}

.carousel__button--right {
  right: 1rem;
}

.carousel__nav {
  display: none;
}

.carousel__indicator {
  width: 5.5rem;
  height: 88px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.carousel__indicator img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.carousel__indicator:hover {
  -webkit-box-shadow: inset 0 0 100px 0px #f0efef;
          box-shadow: inset 0 0 100px 0px #f0efef;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.carousel__indicator:first-of-type {
  background: url(/images/image-product-1-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator:nth-of-type(2) {
  background: url(/images/image-product-2-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator:nth-of-type(3) {
  background: url(/images/image-product-3-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator:last-of-type {
  background: url(/images/image-product-4-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator.current-slide {
  border: 2px solid #ff7d1a;
  -webkit-box-shadow: inset 0 0 150px 0px #f0efef;
          box-shadow: inset 0 0 150px 0px #f0efef;
}

.is-hidden {
  display: none;
}

.cart {
  cursor: pointer;
  position: relative;
}

.cart:hover svg > path {
  fill: black;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.cart__bubble {
  color: white;
  background: #ff7d1a;
  width: 19px;
  height: 13px;
  font-size: 0.625rem;
  font-weight: 700;
  text-align: center;
  border-radius: 6.5px;
  position: absolute;
  top: -25%;
  right: -25%;
  display: none;
  -webkit-animation: appear 0.45s cubic-bezier(0.52, -0.07, 0.42, 0.83) 1 normal backwards;
          animation: appear 0.45s cubic-bezier(0.52, -0.07, 0.42, 0.83) 1 normal backwards;
}

.cart__window {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 97.5%;
  z-index: 100000;
  background-color: white;
  max-width: 360px;
  padding: 1.5rem;
}

.hide__cart {
  display: none;
}

.cart__header {
  font-weight: 700;
  margin-bottom: 1.6875rem;
}

.line {
  height: 1px;
  border: 0.5px solid #e3e8f2;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.empty-cart__container {
  padding: 4.8125rem 0 3.8125rem;
  text-align: center;
  color: #68707d;
  font-weight: 700;
}

.items__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.items__container img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.hide {
  display: none;
}

.item {
  color: #68707d;
  padding-bottom: 0.25rem;
}

.cart__price,
.item__total {
  color: #68707d;
}

.cart__total {
  font-weight: 700;
  margin-left: 0.375rem;
}

.cart__delete {
  margin-left: 0.125rem;
  cursor: pointer;
}

.checkout__btn {
  cursor: pointer;
  width: 100%;
  color: white;
  background: #ff7d1a;
  border: none;
  outline: none;
  margin-top: 1.5rem;
  padding: 1.375rem 0 1.125rem;
  font-weight: 700;
  border-radius: 10px;
}

.modal {
  position: absolute;
  top: 8.3125rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  height: 100vh;
  width: 100vw;
}

.modal svg {
  position: absolute;
  right: 0;
  top: -2rem;
  z-index: 10000;
  cursor: pointer;
}

.modal svg > path {
  fill: white;
  margin-bottom: 1.5rem;
}

.modal svg > path:hover {
  fill: #ff7d1a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modal::-webkit-backdrop {
  opacity: 0.8;
  background-color: #1d2025;
}

.modal::backdrop {
  opacity: 0.8;
  background-color: #1d2025;
}

.carousel__modal {
  position: relative;
  height: 550px;
  width: 550px;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
}

.carousel__image--modal {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px;
  cursor: pointer;
  cursor: unset;
}

.carousel__track-container--modal {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.carousel__track--modal {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.carousel__slide--modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button--modal {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 5;
  border: none;
  cursor: pointer;
  outline: none;
}

.carousel__button--left--modal {
  left: -1.25rem;
  background-color: white;
}

.carousel__button--left--modal svg {
  -webkit-transform: translate(-1rem, 2.6rem);
          transform: translate(-1rem, 2.6rem);
}

.carousel__button--right--modal {
  right: -1.25rem;
}

.carousel__nav--modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
}

.carousel__indicator--modal {
  width: 5.5rem;
  height: 88px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.carousel__indicator--modal img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.carousel__indicator--modal:hover {
  -webkit-box-shadow: inset 0 0 100px 0px #f0efef;
          box-shadow: inset 0 0 100px 0px #f0efef;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.carousel__indicator--modal:first-of-type {
  background: url(/images/image-product-1-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator--modal:nth-of-type(2) {
  background: url(/images/image-product-2-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator--modal:nth-of-type(3) {
  background: url(/images/image-product-3-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator--modal:last-of-type {
  background: url(/images/image-product-4-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel__indicator--modal.current-slide {
  border: 3px solid #ff7d1a;
  -webkit-box-shadow: inset 0 0 150px 0px #f0efef;
          box-shadow: inset 0 0 150px 0px #f0efef;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 1.25rem auto;
}

.logo {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.hamburger {
  cursor: pointer;
}

.desktop__nav {
  display: none;
}

.avatar img {
  border-radius: 50%;
  width: 24px;
  cursor: pointer;
}

.avatar img:hover {
  border: 1.5px solid #ff7d1a;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.menu__mobile-container,
.account__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__mobile-container {
  gap: 1rem;
}

.account__container {
  gap: 1.38625rem;
}

.mobile__nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: white;
  width: 67%;
  height: 100%;
  padding-top: 1.5rem;
  padding-left: 1.5625rem;
  border: none;
  max-height: 100vh;
}

.mobile__nav li {
  list-style: none;
  margin-bottom: 1.25rem;
}

.mobile__nav li a {
  font-weight: 700;
  color: #1d2025;
  text-decoration: none;
  border: none;
  outline: none;
}

.mobile__nav::-webkit-backdrop {
  opacity: 0.8;
  background-color: #1d2025;
}

.mobile__nav::backdrop {
  opacity: 0.8;
  background-color: #1d2025;
}

.mobile__nav--close-btn {
  margin-bottom: 3.36125rem;
}

main {
  position: relative;
}

.main__container {
  margin: 0 auto;
  width: 90%;
}

h1 {
  color: #ff7d1a;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1.85px;
  margin-top: 1.5rem;
  margin-bottom: 1.1875rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0.9375rem;
  font-weight: 700;
}

.main__paragraph {
  font-size: 0.9375rem;
  color: #68707d;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.current__pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.price {
  font-size: 1.75rem;
}

.discount {
  color: #ff7d1a;
  background: #ffede0;
  padding: 0.4375rem 0.5rem 0.25rem;
  border-radius: 6px;
  width: 51px;
}

.original__price {
  color: #b6bcc8;
  text-decoration: line-through;
}

.addtocart__toggle {
  width: 100%;
  margin-bottom: 1rem;
  background: #f0efef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.375rem 1.5rem;
  font-weight: 700;
  border-radius: 10px;
}

.addtocart__btn {
  width: 100%;
  background-color: #ff7d1a;
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.375rem 0;
  border: none;
  outline: none;
  border-radius: 10px;
  gap: 0.97125rem;
  margin-bottom: 5.5rem;
  -webkit-box-shadow: 0 13px 20px -10px #ff7d1a;
          box-shadow: 0 13px 20px -10px #ff7d1a;
  cursor: pointer;
}

.addtocart__btn:hover {
  background-color: #ffab6b;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.addtocart__btn svg > path {
  fill: white;
}

.minus,
.plus {
  cursor: pointer;
}

.minus:hover defs > path,
.plus:hover path {
  fill: #ffab6b;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 767px) {
  .carousel {
    height: 445px;
    border-radius: 15px;
  }
  .carousel__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2rem;
  }
  .carousel__track-container {
    border-radius: 15px;
  }
}

@media (min-width: 768px) {
  header {
    border-bottom: 1px solid #e3e8f2;
    height: 4rem;
    margin: 2.5625rem auto 5.625rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__mobile-container {
    height: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo {
    margin-right: 3.53125rem;
  }
  .desktop__nav {
    display: block;
    height: 100%;
  }
  .desktop__nav nav {
    height: 100%;
  }
  .desktop__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    gap: 2rem;
  }
  .desktop__nav ul li {
    list-style: none;
    height: 100%;
    cursor: pointer;
  }
  .desktop__nav ul li a {
    text-decoration: none;
    font-size: 0.9375rem;
    color: #68707d;
  }
  .desktop__nav ul li:hover {
    border-bottom: 2px solid #ff7d1a;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  .desktop__nav ul li:hover > a {
    color: #1d2025;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  .hamburger {
    display: none;
  }
  .cart__window {
    left: unset;
    top: -7rem;
    right: 3rem;
    margin-left: unset;
    margin-right: unset;
    -webkit-box-shadow: 3px -2px 60px -20px #b6bcc8;
            box-shadow: 3px -2px 60px -20px #b6bcc8;
  }
  .carousel {
    margin-bottom: 10rem;
  }
  .carousel__button {
    display: none;
  }
}

@media (min-width: 1200px) {
  header {
    width: 77.5%;
  }
  .cart__window {
    left: unset;
    top: -7rem;
    right: -8rem;
    margin-left: unset;
    margin-right: unset;
    -webkit-box-shadow: 0 14px 17px -5px #b6bcc8;
            box-shadow: 0 14px 17px -5px #b6bcc8;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1015px;
    margin: auto;
    gap: 7.8125rem;
  }
  .main__container {
    margin-top: 2rem;
  }
  h1 {
    font-size: 0.8125rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  .price__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 2rem;
  }
  .current__pricing {
    margin-bottom: 0.625rem;
  }
  .addtocart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  .addtocart__toggle {
    width: 157px;
    height: 56px;
  }
  .addtocart__btn {
    width: 272px;
    height: 56px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (min-width: 1201px) and (max-width: 1300px) {
  .cart__window {
    right: -4rem;
  }
}

@-webkit-keyframes appear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes disappear {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disappear {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=main.css.map */